---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="bg-[url('/src/images/background.gif')] bg-cover bg-center h-screen w-full">
  <div class="w-full h-full flex justify-center items-center flex-col backdrop-brightness-50 bg-dark/50">
    <div class="text-white text-center">
      <h1 class="text-xl xl:text-6xl mb-5 font-semibold">
        <span>{blok.title}</span>
      </h1>

      <p class="xl:text-2xl font-normal xl:leading-loose mb-14">
        {blok.subtitle1}
        <br />
        {blok.subtitle2}
      </p>
    </div>

    <button class="bg-primary text-base text-white p-3 rounded-lg">Liên hệ ngay</button>
  </div>
</section>
