---
import { FooterLogo } from '../config';
import Img from './img.astro';
---

<div class="flex flex-col xl:flex-row justify-center items-center bg-mixed py-10">
  <Img class="mr-5 mb-5 xl:mb-0" src={FooterLogo} alt="footer-logo" />

  <div class="text-white font-semibold leading-loose">
    <p>Công ty xây dựng HL Construction</p>
    <div class="text-sm leading-loose">
      <p>Điện thoại: 079 776 1203</p>
      <p>Email: hlconstructionnhatrang@gmail.com</p>
      <p>Địa chỉ: Nha Trang - Khánh Hòa</p>
    </div>
  </div>
</div>

<div class="h-px w-full"></div>

<div class="text-white bg-mixed h-14 flex justify-center items-center">HL Construction @2022</div>
